.card img {
    height: 200px;
}

.card {
    height: 95%;
    padding-left: 0;
    padding-right: 0;
}

.card .btn {
    margin: 0 10px 10px 10px;
    background: #CE11CB;
}

.home__price{
    color: #5B1087;
}